a:link,
a:hover,
a:visited,
a:active{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style:none;
}

.lt-aside{
    width: 180px;
    height: 100%;
    background-color: #222D32;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 1s;
}
.lt-aside.hidemenu{
    left: -180px;
}
.lt-aside .title {
    width: 180px;
    height: 50px;
    background-color: #367FA9;
}
.lt-aside .title a{
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;

}
.lt-aside .user{
    width: 180px;
    height: 180px; 
    padding-top: 30px;  
}
.lt-aside .user img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.lt-aside .user p{
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.lt-aside .list li a{
    display: block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    border-left: 3px solid transparent;
}
.lt-aside .list li .light{
    border-left:3px solid #006699;
    background-color: #1D1F21;

}
.lt-aside .list li a i{
    margin-right: 5px;
}
.lt-aside .list .secondlist{
    display: none;
}
.lt-aside .list .secondlist a{
    padding-left: 60px;
}


.lt-main{
    padding-top: 50px;
    padding-left: 180px;
    transition: all 1s;
    height: 1000px;
}
.lt-main.hidemenu{
    padding-left:0;
}

.lt-main .topbar{
    height: 50px;
    width: 100%;
    background-color: #3C8DBC;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 180px;
    transition: all 1s;
}
.lt-main .topbar.hidemenu{
    padding-left: 0;
}
.lt-main .topbar a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.lt-main .container-fluid .breadcrumb{
    margin-top: 20px;
}
.lt-main .echarts-box{
  height: 100%;
  width: 100%;
  position: relative;
}
.lt-main .echarts-box #echarts-left,
.lt-main .echarts-box #echarts-right{
    height: 400px;
    width: 48%;
    /* background-color: pink; */

}

.lt-mask .modal-body,
.lt-start .modal-body{
    color: #A94442;
}

.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}
